version = 1

test_patterns = [
  "tests/**/test*.py"
]

exclude_patterns = [
  "migrations/**"
]

[[analyzers]]
name = "python"
enabled = true
dependency_file_paths = [
  "poetry.lock",
  "pyproject.toml",
]

  [analyzers.meta]
  runtime_version = "3.x.x"
  max_line_length = 120

[[analyzers]]
name = "secrets"
enabled = true

[[analyzers]]
name = "shell"
enabled = true

[[analyzers]]
name = "docker"
enabled = true

  [analyzers.meta]
  dockerfile_paths = [
    "Dockerfile-flask",
    "Dockerfile-worker"
  ]

[[analyzers]]
name = "test-coverage"
enabled = true
