# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
-   repo: https://github.com/google/yapf
    rev: v0.40.1
    hooks:
    -   id: yapf
-   repo: local
    hooks:
    -   id: check_not_empty_files
        name: Check not empty env files
        language: python
        entry: python3 .pre_commit_hooks/check_not_empty_files.py
        files: .env*
        stages: [commit, push, manual]
