version: "3.3"

services:
    yaptide_flask:
        build:
            context: .
            dockerfile: Dockerfile-flask
        image: yaptide_flask
        # mount data volume as /usr/local/app/yaptide/data in rw mode
        volumes:
            - data:/usr/local/app/yaptide/data:rw
        container_name: yaptide_flask
        environment:
            - FLASK_DEBUG=1
            - CELERY_BROKER_URL=redis://redis:6379/0
            - CELERY_RESULT_BACKEND=redis://redis:6379/0
            - FLOWER_BASIC_AUTH=admin:password
            - CERT_AUTH_URL=${CERT_AUTH_URL-""}
            - KEYCLOAK_BASE_URL=${KEYCLOAK_BASE_URL-""}
            - KEYCLOAK_REALM=${KEYCLOAK_REALM-""}
            - BACKEND_EXTERNAL_URL=${BACKEND_EXTERNAL_URL-""}
        depends_on:
            - redis
            - flower

    yaptide_worker:
        build:
            context: .
            dockerfile: Dockerfile-worker
        image: yaptide_worker
        volumes:
            - simulators:/simulators:rw
        deploy:
            resources:
                limits:
                    # the explanation of below syntax: https://www.gnu.org/software/bash/manual/html_node/Shell-Parameter-Expansion.html
                    cpus: ${MAX_CORES-1.0}
        container_name: yaptide_worker
        env_file: .env
        environment:
            - CELERY_BROKER_URL=redis://redis:6379/0
            - CELERY_RESULT_BACKEND=redis://redis:6379/0
            - BACKEND_INTERNAL_URL=http://yaptide_flask:6000
            - LOG_LEVEL_CELERY=INFO
        depends_on:
            - redis
            - yaptide_flask

    redis:
        image: redis:6-alpine
        container_name: yaptide_redis

    nginx:
        image: yaptide_nginx
        container_name: yaptide_nginx
        build:
            context: .
            dockerfile: Dockerfile-nginx
        ports:
            - 5000:5000
            - 8443:8443
        depends_on:
            - yaptide_flask

    flower:
        image: mher/flower
        container_name: yaptide_flower
        ports:
        - 55555:5555
        environment:
        - BROKER_URL=redis://redis:6379/0
        - FLOWER_BASIC_AUTH=admin:password  # Modify this for basic authentication
        depends_on:
        - redis
volumes:
    data:
    simulators:
