name: Deploy documentation content to Pages

on:
  # Runs on pushes targeting the default branch
  push:
    branches: ["master"]
  pull_request:
    branches: [master]
    
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow only one concurrent deployment, skipping runs queued between the run in-progress and latest queued.
# However, do NOT cancel in-progress runs as we want to allow these production deployments to complete.
concurrency:
  group: "pages"
  cancel-in-progress: false

env:
  S3_ENDPOINT: ${{ vars.S3_ENDPOINT }}

jobs:
  # Single deploy job since we're just deploying
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: true
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
            python-version: '3.11'
      - name: Install dependencies for project
        run: pip install -r requirements.txt
      - name: Install dependencies for testing
        run: pip install -r requirements-test.txt
      - name: Run tests
        env:
            S3_ACCESS_KEY: ${{ secrets.S3_ACCESS_KEY }}
            S3_SECRET_KEY: ${{ secrets.S3_SECRET_KEY }}
            S3_ENCRYPTION_PASSWORD: ${{ secrets.S3_ENCRYPTION_PASSWORD }}
            S3_ENCRYPTION_SALT: ${{ secrets.S3_ENCRYPTION_SALT }}
            S3_SHIELDHIT_BUCKET: ${{ vars.S3_LINUX_SHIELDHIT_BUCKET }}
            S3_SHIELDHIT_KEY: ${{ vars.S3_LINUX_SHIELDHIT_KEY }}
        run: pytest --cov-report html:htmlcov --cov=yaptide
      - name: Install dependencies for documentation
        run: pip install -r requirements-docs.txt
      - name: Build site
        run: mkdocs build
      - name: Setup Pages
        uses: actions/configure-pages@v4
      - name: Upload artifact if on master
        if: github.event_name == 'push' && github.ref == 'refs/heads/master'
        uses: actions/upload-pages-artifact@v2
        with:
          path: 'site'
      - name: Deploy to GitHub Pages if on master
        if: github.event_name == 'push' && github.ref == 'refs/heads/master'
        id: deployment
        uses: actions/deploy-pages@v3