name: CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

  workflow_dispatch:

env:
  S3_ENDPOINT: ${{ vars.S3_ENDPOINT }}

jobs:
  build-and-test:
    runs-on:  ${{ matrix.platform }}
    strategy:
      matrix:
        python-version: ['3.9', '3.10']
        platform: [ubuntu-latest, windows-latest]
        exclude:
          - python-version: '3.9'
            platform: windows-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: true

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies for production
        run: |
          python3 -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Install dependencies for tests
        run: |
          pip install -r requirements-test.txt

      - name: Run main tests on Linux
        if: matrix.platform == 'ubuntu-latest'
        env:
          S3_ACCESS_KEY: ${{ secrets.S3_ACCESS_KEY }}
          S3_SECRET_KEY: ${{ secrets.S3_SECRET_KEY }}
          S3_ENCRYPTION_PASSWORD: ${{ secrets.S3_ENCRYPTION_PASSWORD }}
          S3_ENCRYPTION_SALT: ${{ secrets.S3_ENCRYPTION_SALT }}
          S3_SHIELDHIT_BUCKET: ${{ vars.S3_LINUX_SHIELDHIT_BUCKET }}
          S3_SHIELDHIT_KEY: ${{ secrets.S3_LINUX_SHIELDHIT_KEY }}
        run: pytest tests/test_download_shieldhit.py

      # for some reason, pytest cannot run all tests at once, but seems to work if we run them one by one
      - name: Run main tests on Windows using powershell
        if: matrix.platform == 'windows-latest'
        env:
          S3_ACCESS_KEY: ${{ secrets.S3_ACCESS_KEY }}
          S3_SECRET_KEY: ${{ secrets.S3_SECRET_KEY }}
          S3_ENCRYPTION_PASSWORD: ${{ secrets.S3_ENCRYPTION_PASSWORD }}
          S3_ENCRYPTION_SALT: ${{ secrets.S3_ENCRYPTION_SALT }}
          S3_SHIELDHIT_BUCKET: ${{ vars.S3_WINDOWS_SHIELDHIT_BUCKET }}
          S3_SHIELDHIT_KEY: ${{ secrets.S3_WINDOWS_SHIELDHIT_KEY }}
        run: |
          Get-ChildItem -Path "tests" -Filter "test_*.py" -Recurse | foreach { pytest $_.FullName }





  # upload coverage report to deepsource
  report-test-converage-deepsource:
    needs: build-and-test
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && github.ref == 'refs/heads/master'
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: true

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install dependencies for production and test
        run: |
          python3 -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install -r requirements-test.txt

      - name: Install deepsource CLI
        run: curl https://deepsource.io/cli | sh

      - name: Generate tests coverage report
        env:
          S3_ACCESS_KEY: ${{ secrets.S3_ACCESS_KEY }}
          S3_SECRET_KEY: ${{ secrets.S3_SECRET_KEY }}
          S3_ENCRYPTION_PASSWORD: ${{ secrets.S3_ENCRYPTION_PASSWORD }}
          S3_ENCRYPTION_SALT: ${{ secrets.S3_ENCRYPTION_SALT }}
          S3_SHIELDHIT_BUCKET: ${{ secrets.S3_LINUX_SHIELDHIT_BUCKET }}
          S3_SHIELDHIT_KEY: ${{ secrets.S3_LINUX_SHIELDHIT_KEY }}
        run: pytest --cov=./ --cov-report xml

      - name: Upload coverage report to deepsource
        run: ./bin/deepsource report --analyzer test-coverage --key python --value-file ./coverage.xml
        env:
          DEEPSOURCE_DSN: ${{ secrets.DEEPSOURCE_DSN }}
